body {
  background: url(img/connectwork.png);
  text-align: center;
  font-family: 'Chakra Petch', sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main {
  width: 100%;
}

#container {
  margin: 20px 0;
}

h1 {
  font-size: 3rem;
  color: #ffffff;
  word-wrap: break-word;
}

.textPanel, .selectPanel {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 50vw;
  font-size: 1.3rem;
}

.textPanel {
  margin-top: 2rem;
  color: #fff;
}

button:focus {
  outline: none;
}

input[type='submit']:focus {
  outline: none;
}

#submit {
  display: block;
  font-size: 1.5rem;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 20px;
  width: 200px;
  height: 70px;
  border-radius: 10px;
  border: none;
  background-color: #7bc6f6;
}

#submit:hover {
  font-weight: bold;
  background-color: #1278b9;
  cursor: pointer;
}

#pCat {
  font-size: 0.9rem;
  color: #fff;
}

#askQuestion {
  margin: 2rem 2rem 1rem 2rem;
  font-size: 2rem;
  color: #fff;
}

#contQuestions {
  margin-top: 70px;
}

.answerButton {
  margin: 0;
  padding: 1rem;
  font-size: 1.2rem;
}

.answerButton:hover {
  background-color: #a7d7f6;
  outline: none;
  cursor: pointer;
}

#coloredResult {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

#whichIsCorrect {
  font-size: 2rem;
}

#nextButton {
  display: block;
  font-size: 1.5rem;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 20px;
  width: 200px;
  height: 70px;
  border-radius: 10px;
  border: none;
  background-color: #7bc6f6;
}

#nextButton:hover {
  font-weight: bold;
  background-color: #1278b9;
  cursor: pointer;
}

#finalMessage {
  margin-top: 50px;
  color: #7bc6f6;
  font-size: 2rem;
  font-weight: bold;
}

#tryAgain {
  font-size: 2rem;
  color: #fff;
  margin: 3rem 3rem 5rem 3rem;
}

.restartButton {
  display: inline-block;
  font-size: 1.5rem;
  margin: 0px 20px 20px 20px;
  width: 200px;
  height: 70px;
  border-radius: 10px;
  border: none;
  background-color: #7bc6f6;
}

#restartButtonYES:hover {
  background-color: #118325;
  cursor: pointer;
  animation-name: smiley;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

#restartButtonNO:hover {
  background-color: #a12828;
  cursor: pointer;
}