* {
  margin: 0;
}

body {
  background-color: #2a2a2a;
}

#container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20vh;
  height: 60vh;
  width: 60vw;
  background-color: #ca90da;
  text-align: center;
  box-sizing: border-box;
  padding-top: 20px;
}

#choice {
  margin-top: 20px;
}

.leftPanel {
  display: inline-block;
  width: 40%;
  text-align: right;
  margin: 20px;
}

.rightPanel {
  display: inline-block;
  width: 40%;
  text-align: left;
  margin: 20px;
}

select {
  width: 160px;
}

#submit {
  display: block;
  margin: auto;
  margin-top: 50px;
  width: 200px;
  height: 70px;
}

#pCat {
  font-size: 0.9rem;
}

#askQuestion {
  margin: 20px;
}

#contQuestions {
  height: 50%;
}

.answerButton {
  margin: 0;
  padding: 10px;
}

#coloredResult {
  font-size: 1.2rem;
  font-weight: bold;
}

#nextButton {
  margin-top: 50px;
}