body {
  background-color: #9f9c9c;
  text-align: center;
  font-family: 'Chakra Petch', sans-serif;
}

h1 {
  font-size: 3rem;
  margin: 3rem;
}

.textPanel, .selectPanel {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 50vw;
  font-size: 1.3rem;
}

.textPanel {
  margin-top: 2rem;
}

select {}

#submit {
  display: block;
  margin: auto;
  margin-top: 50px;
  width: 200px;
  height: 70px;
}

#pCat {
  font-size: 0.9rem;
}

#askQuestion {
  margin: 20px;
}

#contQuestions {
  margin-top: 100px;
}

.answerButton {
  margin: 0;
  padding: 1rem;
  font-size: 1.2rem;
}

#coloredResult {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

#nextButton {
  margin-top: 50px;
}